@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

.wrapper {
  background:  	#2c3e50;
  height: 100vh;
  padding-top: 2%;
}
.title-container {
  height: 90vh;
  padding: 2%;
  background: #ffe2e7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;

}

.title-container__title {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.title-container__subtitle {
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
}

.form-container {
  background-color: #d2ecf1;
  padding-top: 100px;
  padding-left: 50px;
  max-height: 90vh;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px 	#fff inset;
    -webkit-text-fill-color: #587c85!important;
}

button {
  border: 0;
  padding: 2%;
  margin: 0 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #e64c3b;
  color: black;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #587c85;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: black;
  font-weight: 200;
}

.weather__error {
  color: #e64c3b;
  padding: 2%;
  font-weight: 200;
}
@media only screen and (max-width: 768px){
.wrapper{
  padding: 0;
}
  .title-container {
    height: 30vh !important;
    padding-top: 2%;
  }
  .form-container{
    min-height: 70vh !important;
    padding-top: 2% 
  }
}